.popup {
  width: 100%;
  max-width: 1280px;
  min-height: calc(100vh - 50px);
  margin: auto;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: var(--additional-light);
  transition: all 0.8s ease-in-out;
  overflow-x: hidden;
}
