.popup {
  max-width: 1280px;
  margin: auto;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: var(--additional-light);
  width: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  animation: moveRight 0.8s ease-in-out;
}
