.popup__form-btn {
  width: 45%;
  height: 50px;
  padding: 5px 15px;
  box-sizing: border-box;
  background-color: var(--accent);
  color: var(--main-light);
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.popup__form-btn:active {
  scale: 0.95;
}
