.popup {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: var(--additional-light);
  transition: all 0.8s ease-in-out;
}

.popup_closed {
  visibility: hidden;
  transform: translateX(100vw);
}
