.popup__form-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  display: block;
}

.popup__form-label::before {
  content: "*";
  display: inline-block;
  color: var(--error);
  font-size: 16px;
  vertical-align: middle;
}
