.header__add-card-btn {
  width: 40px;
  height: 40px;
  background-color: var(--main-dark);
  border: none;
  border-radius: 50%;
  background-image: url(../../../images/icons/plus.svg);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}
