.header__add-btn {
  width: 40px;
  height: 40px;
  background-color: var(--accent);
  border: none;
  border-radius: 4px;
  background-image: url(../../images/icons/plus.svg);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}
