.card__number {
  font-size: 20px;
  font-weight: 500;
  margin: 40px auto 30px;
  width: max-content;
  letter-spacing: -4px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .card__number {
    font-size: 16px;
    margin: 25px auto 20px;
  }
}
