.popup__form-field {
  height: 50px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid var(--main-dark);
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 5px 15px;
  color: var(--main-dark);
  box-sizing: border-box;
  margin-top: 5px;
}

.popup__form-field:focus-visible {
  box-shadow: 0px 10px 20px -13px rgb(50, 150, 230, 0.4);
  border: 2px solid var(--focus);
  outline: none;
}
